*{
	margin: 0px;
	padding: 0px;
}

.apel {
  max-width: 1200px;
  max-height: 2000px;
  width: 100%;
  border-style: solid;
  border-width: 1px;
}

.jeruk{
	width: 372px;
	height: 50px;
	background-color: mistyrose;
	margin-left: 50px;
	margin-bottom: 10px;
}

.anggur{
	padding-top: 10px;
	font-size: 20px;
	color: white;
	margin-left: 50px;
	margin-bottom: 20px;
}

.nanas{
	margin-top: 120px;
	margin-left: 50px;
	color: tan;
}

.kiwi {
	width: 300px;
	margin-left: 50px;
	color: tan;
}

.pepaya2 {
	width: 300px;
	color: grey;
	margin-bottom: 5px;
}

.melon{
	margin-top: 10px;
	margin-left: 50px;
	color: tan;
}

.melon2 {
	margin-top: 10px;
	margin-left: 80px;
	color: tan;
	display: inline-block;
}

.mangga {
	display: inline-block;
}

.lemon {
	margin-top: 5px;
	margin-left: 80px;
}

.pepaya {
	margin-left: 70px;
}


.rujak {
	margin-top: 5px;
	margin-left: 50px;
	
}

.ayam {
	float: right;
	margin-top: -570px;
	margin-right: 100px;
}

.ayam2 {
	float: right;
	margin-top: -350px;
	margin-right: -60px;
}

.kupu {
	margin-bottom: 20px;
	margin-top: 10px;
	margin-right: 20px;
	font-size: 30px;
	font-weight: bold;
	display: inline-block;
}

.sapi {
	font-size: 100px;
	font-weight: strong;
}

.bebek {
	width: 200px;
	height: 75px;
	border-radius: 10px;
	background-color: pink;
	margin-left: -50px;
}

.tikus {
	padding-left: 10px;
	padding-top: 10px;
}

.buaya {
	margin-top: -100px;
	display: inline-block;
}

.image-style {
	margin-left: 90px;
	width: 5%;
	display: inline-block;
}

body {
	font-family: sans-serif;
}


table {
	margin-left: 50px;
	position: fixed;
	border: 1px solid grey;
	border-collapse: collapse;
}

thead {
	background-color: grey;
	color: white;
	
	margin: 0px;
}

th{
	font-weight: normal;
	padding-left: 10px;
	padding-right: 50px;
}
thead, tr, th{
	border: 1px solid #D3D3D3;

}

